*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    background-color:rgb(238, 235, 235);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 24px;
    margin: 0 auto;
    margin-top: 50px;
    place-content: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
}
.card{
    border-radius: 12px;
    background-color: rgb(192, 189, 189);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    padding: 16px;
    display: grid;
    text-align: center;
    cursor: pointer;
}
.card:hover{
background-color: rgb(172, 170, 170);
}
.card-price{
    font-size: clamp(16px,2.5vw,48px);
}
.addToCart{
    font-size: clamp(16px,2.5vw,36px);
}
.card-image{
    min-width: 0;
    min-height: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-inline: 20px;
    aspect-ratio: 16/9;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.card-price{
    margin-top:5px;
    margin-bottom: 30px;
}
.addToCart{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    background-color: blue;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}
.addToCart:hover{
    background-color: rgb(54, 54, 238);
}
.card-name{
    font-weight: bold;
    font-size: clamp(24px,3.5vw,60px);
}